<ngx-spinner type="ball-scale-multiple" > <p>Loading...</p></ngx-spinner>
<ng-container *ngIf="pageLoaded">
<app-filter-bar
  (heroTypeChanged)="updateDataAttr($event)"
  (heroRoleChanged)="updateDataRoles($event)"></app-filter-bar>
<ngx-charts-bar-horizontal-stacked
  [view]="[1000,5000]"
  [results]="heroWRData"
  [xAxisLabel]="'Heroes'"
  [legendTitle]="''"
  [yAxisLabel]="'Winrate'"
  [legend]="false"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [xAxis]="true"
  [yAxis]="true"
  [roundDomains]="true"
  [xScaleMax]="70"
  [barPadding]="1"
  (select)="onSelect($event)" >
</ngx-charts-bar-horizontal-stacked>
</ng-container>
