<ngx-spinner type="ball-scale-multiple" > <p>Loading...</p></ngx-spinner>
<ng-container *ngIf="pageLoaded">
  <div>
    <mat-card>{{heroName}} Matchup Winrates </mat-card>
  </div>
  <ngx-charts-bar-vertical
    [view]="view"
    [results]="heroWRData"
    [xAxisLabel]="'Heroes'"
    [legendTitle]="''"
    [yAxisLabel]="'Winrate'"
    [legend]="false"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [roundDomains]="true"
    [customColors]="customColors"
    [roundEdges]="true"
    [yScaleMax]="100"
    [yScaleMin]="0"
    [barPadding]="1">
  </ngx-charts-bar-vertical>
  <div class="chart-legend"  style="position: absolute; right: 10px">
    <ngx-charts-legend
      [title]="'Legend: Heroes Roles'"
      [horizontal]="false"
      [data]="legendData"
      [colors]="legendColors"
      (labelClick)="getRoles('axe')">
    </ngx-charts-legend>
  </div>
</ng-container>
